/* //// Carousel //// */
.carousel,
.carousel-btns {
	margin-bottom: 5rem;
}
.carousel,
.carousel figure {
	width: 600px;
	aspect-ratio: 30 / 29;
}
.carousel {
	position: relative;
	overflow: hidden;
}
.carousel figure {
	background-image: url(../img/frameBody/frameMain.svg);
	position: absolute;
	top: 0;
	transition: transform 1s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.carousel figure div {
	width: 90%;
	aspect-ratio: 1 / 0.78;
	border-radius: 12px;
	background-image: url(../img/nature/3-4/3-4.1.webp);
	background-size: cover;
	background-repeat: no-repeat;
}
/* //// Carousel Buttons//// */
.carousel-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6rem;
}
.carousel-btns figure {
	display: grid;
	place-content: center;
	width: 36rem;
	height: 6rem;
	background-color: var(--primary);
	border-radius: 2.7rem;
}
.carousel-btns span {
	font-size: 3rem;
	font-weight: 400;
	color: var(--white);
}
.carousel-btns img {
	height: 5rem;
}
/* //// less 600px //// */
@media only screen and (width < 45em) {
	.carousel,
	.carousel figure {
		width: 400px;
	}
	.carousel figure {
		background-image: none;
	}
	.carousel figure div {
		border: 3px solid black;
	}
}
