@import url('./root.css');
@import url('./reset.css');
/* //// General //// */
body {
	font-family: 'Inter', sans-serif;
	background-color: var(--white);
}
header,
footer {
	background-color: var(--black);
}
section,
.border,
.container {
	margin: 0 auto;
}
section,
.border {
	max-width: var(--sizeMax);
}
.container {
	max-width: var(--sizeL);
}
a {
	text-decoration: none;
}
/* //// Navigation //// */
nav,
nav ul {
	display: flex;
	align-items: center;
}
nav,
.sticky {
	height: 12rem;
}
nav img {
	width: 10rem;
	height: 10rem;
}
nav ul {
	width: 70rem;
	justify-content: space-between;
	margin-left: auto;
}
nav li {
	list-style-type: none;
}
nav a,
.language span,
#menu span {
	font-size: 3rem;
	color: var(--white);
}
.language,
#menu {
	padding: 1rem 1.4rem;
	border: solid 2px var(--white);
	border-radius: 16px;
	cursor: pointer;
}
.language span {
	font-weight: 700;
}
#menu {
	display: none;
}
/* //// Sticky Navigation //// */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 30;
	box-shadow: 0 1.2rem 3.2rem var(--primaryShadow);
}
/* //// Hero Section //// */
#sec-hero {
	height: 64.5rem;
	background-image: url(../img/backgroundImg/hero-1.webp);
	background-position: center;
}
#sec-hero .container {
	display: flex;
	justify-content: end;
	align-items: center;
}
h1,
h1 span,
#sec-hero h2,
#sec-hero h2 span {
	color: var(--white);
}

h1,
#sec-hero h2 {
	font-weight: 300;
}
h1 span,
#sec-hero h2 span {
	font-weight: 700;
}
/* //// Footer //// */
footer {
	background-color: var(--primary);
}
footer .contactsMobile {
	display: none;
}
footer .container,
footer h3 {
	padding: 3rem 0;
}
footer .container {
	display: flex;
	justify-content: space-between;
}
footer h3,
footer a,
footer span {
	color: var(--white);
	font-weight: 300;
}
footer h3 {
	font-size: 3rem;
}
footer a,
footer span {
	font-size: 2.4rem;
}
footer img {
	width: 20rem;
	height: 20rem;
}
/* //// less 1200px //// */
@media only screen and (width < 75em) {
	header .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	.container {
		padding: 0 3rem;
	}
	.nav-list {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);
		z-index: 20;
		flex-direction: column;
		justify-content: center;
		gap: 5rem;
		opacity: 0;
		transition: all 0.6s ease-in;
		pointer-events: none;
		visibility: hidden;
	}
	.nav-open .nav-list {
		opacity: 100;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0%);
	}
	.nav-open#menu {
		display: none;
	}
	#menu {
		display: block;
	}
	header figure {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		z-index: 15;
		pointer-events: none;
	}
	header figure div {
		width: 25%;
		background-color: var(--primary);
		display: none;
	}
	.closed {
		transform: rotateY(0);
		animation: close 0.4s ease-out alternate forwards;
	}
	@keyframes close {
		to {
			transform: rotateY(90deg);
		}
	}
	.rotate-active {
		transform: rotateY(90deg);
		animation: rotate 0.4s ease-out alternate forwards;
	}
	@keyframes rotate {
		to {
			transform: rotateY(0);
		}
	}
	header figure :nth-child(1) {
		animation-delay: 0.4s;
	}
	header figure :nth-child(2) {
		animation-delay: 0.3s;
	}
	header figure :nth-child(3) {
		animation-delay: 0.2s;
	}
	header figure :nth-child(4) {
		animation-delay: 0.1s;
	}
	footer img {
		display: none;
	}
	footer .container {
		justify-content: space-around;
	}
}
/* //// less 640px //// */
@media only screen and (width < 40em) {
	#sec-hero .container {
		justify-content: center;
	}
	h1,
	h1 span {
		font-size: clamp(3.2rem, 5.5vw, 4rem);
	}
	footer .container {
		flex-direction: column;
		align-items: center;
	}
	footer figure {
		display: none;
	}
	footer .contactsMobile {
		display: block;
	}
}
