@import url('./root.css');
@import url('./hp-galleryGrid.css');
/* //// Hero Section //// */
#sec-hero,
#sec-hero .hero {
	position: relative;
}
#sec-hero .container {
	height: 38rem;
	display: flex;
	justify-content: end;
	align-items: center;
}
h1,
h1 span,
#sec-hero h2,
#sec-hero h2 span {
	color: var(--white);
}
h1,
h1 span {
	font-size: 7.2rem;
	letter-spacing: 0.2rem;
}
h1,
#sec-hero h2 {
	font-weight: 300;
}
h1 span,
#sec-hero h2 span {
	font-weight: 700;
}
#sec-hero h2 {
	position: absolute;
	display: inline-block;
	width: 55.3rem;
	font-size: 3rem;
	margin-top: 6rem;
	letter-spacing: 2.7px;
	z-index: 10;
}
#sec-hero .black-line {
	position: absolute;
	right: 0;
	bottom: -17.5rem;
	display: block;
	width: 160rem;
	height: 40rem;
	background-image: linear-gradient(
		174deg,
		var(--primaryShadow),
		var(--primary) 33%,
		var(--primary)
	);
	z-index: 5;
	clip-path: polygon(0 18rem, 160rem 0, 160rem 22rem, 0 40rem);
}
/* //// About Section //// */
#sec-about {
	position: relative;
	margin-top: -1rem;
}
#sec-about .container {
	display: flex;
	align-items: center;
	height: 94rem;
}
#sec-about .text-box {
	width: 56rem;
}
#sec-about p {
	margin-top: 1.5rem;
	font-size: 2.4rem;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 1.3;
}
#sec-about img {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-filter: blur(2px);
	filter: blur(2px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5rem), 0 100%);
}
/* //// Benefits Section //// */
#sec-benefits .text-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4.6rem;
}
#sec-benefits h2,
#sec-benefits h3 {
	font-weight: 700;
}
#sec-benefits p {
	font-weight: 400;
}
#sec-benefits h2,
#sec-benefits h3,
#sec-benefits p {
	text-align: center;
}
#sec-benefits h2 {
	margin-top: 4.5rem;
	margin-bottom: 2.5rem;
	font-size: 4.2rem;
}
#sec-benefits h3 {
	margin-bottom: 1.5rem;
	font-size: 2.4rem;
}
#sec-benefits p {
	font-size: 1.9rem;
}
/* //// Tour Section //// */
#sec-tour {
	height: 92rem;
	background-image: url(../img/backgroundImg/bgd-1.jpg);
	background-position: center;
}
#sec-tour .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5rem;
}
#sec-tour h2,
#sec-tour h2 span {
	font-size: 3rem;
}
#sec-tour h2 {
	font-weight: 300;
	display: inline-block;
	text-align: center;
}
#sec-tour h2 span {
	font-weight: 700;
}
/* //// Pagination //// */
.pages {
	margin: 2rem auto;
	display: flex;
	align-items: center;
	max-width: 96rem;
}
.page-text-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	border: 2px var(--primaryShadow);
	border-style: solid none solid solid;
	max-width: 54rem;
	max-height: 64rem;
	padding-top: 3rem;
}
.page-text-box span {
	font-size: 4.6rem;
	font-weight: 700;
}
.page-text-box ul {
	padding: 3rem 0 5rem 3.6rem;
	overflow-y: hidden;
}
.page-text-box li {
	font-size: 2.4rem;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}
.page-img-box {
	display: flex;
	justify-content: center;
	align-items: end;
	background-color: darkkhaki;
	height: 72rem;
	border-radius: 4.2rem;
	width: 36rem;
	padding: 4.2rem;
}
.page-img-box .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 6.4rem;
	border: solid 2px var(--primaryShadow);
	border-radius: 4.2rem;
}
.page-img-box a {
	font-size: 2.4rem;
	color: var(--primary);
}
/* //// Gallery Section //// */
#sec-gallery .border {
	display: grid;
	grid-template: repeat(9, 5vw) / repeat(8, 1fr);
	gap: 1.2rem;
	padding: 1.2rem;
	background-color: var(--primary);
}
#sec-gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
