.pages {
	display: flex;
	align-items: center;
	position: relative;
}
.page-text-box,
.page-btn-box {
	display: flex;
	position: relative;
}
.btn-left,
.btn-right {
	height: 5rem;
	position: absolute;
	z-index: 10;
}
