*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}
/* //// less 1200px //// */
@media only screen and (width < 75em) {
	html {
		font-size: 56.25%;
		scroll-behavior: smooth;
	}
	html,
	body {
		overflow-x: hidden;
	}
}
/* //// less 640px //// */
@media only screen and (width < 40em) {
	html {
		font-size: 50%;
	}
}
